
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(to right, #2727e1, #a933a9);
  color: #ffffff;
  padding: 20px;
}


h1, h6 {
  margin: 0;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

#map {
  margin-top: 20px;
}

footer {
  background-color: #f4f4f4;
  padding: 20px;
}

h3 {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 5px;
  margin-bottom: 10px;
  width: 200px;
}

/* Responsive styles */
@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  input[type="text"] {
    width: 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

header, main, footer {
  width: 100%;
  max-width: 600px; /* O el ancho que prefieras */
}

